<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav" style="width: 2000px;">
          <li class="nav-item">
            <a class="navbar-brand nav-link active text-dark" aria-current="page" href="#">
                <img src="assets/img/Logo.png" class="nav-logo"/>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Smartphone</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Ordinateur</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Tablette</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Console</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Accessoire</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

